{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
<link rel="stylesheet" href="{% static 'todolist/login.css' %}">
{% endblock meta %}

{% block content %}

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td class="form">Username</td>
            </tr><tr>
                <td><input type="text" name="username" placeholder="Enter Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td class="form">Password</td>
            </tr><tr>
                <td><input type="password" name="password" placeholder="Enter Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <b>Belum mempunyai akun?</b> <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>

{% endblock content %}