{% extends 'base.html' %}
{% load static %}

 {% block content %}
 <link rel="stylesheet" href="{% static 'todolist/todolist.css' %}">

  {% if user.is_authenticated %}
    <br>
    <h1 style="font-size:2vw;text-align:center;font-family:sans-serif;color: white;"> Welcome, {{ user.get_username }}! </h1>
    <p style="font-style: italic;text-align:center;font-family: sans-serif;color: white;">  your to do list: </p>

    <table border = "1" width = 413 style="margin-left:auto;margin-right:auto">
        <tr>
        <th>Date Added</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Options</th>
        </tr>
        {% comment %} Add the data below this line {% endcomment %}
        {% for todolist in list_todo %}
            <tr>
                <td>{{todolist.date}}</td>
                <td>{{todolist.title}}</td>
                <td>{{todolist.description}}</td>

                {% if todolist.is_finished %}
                    <td>Selesai</td>
                {% else %}
                    <td>Belum selesai</td>
                {% endif %}

                <td>
                    <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"><a href="{% url 'todolist:status' todolist.id %}">Status</a></button>
                    <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"><a href="{% url 'todolist:delete' todolist.id %}">Delete</a></button>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="card">
        {% for todolist in list_todo %}
        <h4 class="card-title">{{todolist.title}}</h4>
        <h5 class="card-date">{{todolist.date}}</h5>
        <p class="card-desc">{{todolist.description}}</p>
        {% if todolist.is_finished %}
        <status>
                    <td style="font-family: Arial Rounded MT Bold;font-weight: 30;font-size: small">Selesai</td>
                {% else %}
                    <td style="font-family: Arial Rounded MT Bold;font-weight: 30;font-size: small">Belum selesai</td>
                {% endif %}
        {% endfor %}
        </status>
    </div>

    <br>
    <br>
    <br>
    <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"><a href="{% url 'todolist:create-task' %}">Add New Task</a></button>
    <br>
    <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"><a href="{% url 'todolist:logout' %}">Logout</a></button>

  {% endif %}

 {% endblock content %}