{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 3 Assignment PBP/PBD</h1>

  <h5>Name: </h5>
  <p>{{nama}}</p>

  <h5>Student ID: </h5>
  <p>{{npm}}</p>

  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for watchlist in data_tontonan %}
    <tr>
      <th>{{watchlist.watched}}</th>
      <th>{{watchlist.title}}</th>
      <th>{{watchlist.rating}}</th>
      <th>{{watchlist.release_date}}</th>
      <th>{{watchlist.review}}</th>
  </tr>
  {% endfor %}
  </table>
  <button><a href="{% url 'wishlist:logout' %}">Logout</a></button>

 {% endblock content %}
